

.header__container {
    display: flex;
    background-image: var(--header-gradient);
    height: 8vh;
    align-items: center;
    justify-content: center;
    color: var(--text-light);

    /* Colocando em maiscula */
    text-transform: uppercase;
}

.grid__container{
    display: grid;

    height: 92vh;
    background-image: var(--container-gradient);
    /* Grid com 3 colunas de 250px */
    grid-template-columns: repeat(3, 250px);

    /* Grid com 3 liinhas de 250px */
    grid-template-columns: repeat(3, 250px);

    /* centralizar os itens*/
    justify-content: center;
    align-items: center;

    /* centralizar o grid */
    justify-content: center;
    align-content: center;

    gap: 10px;
    padding: 20px 0;
}

/* Estilos paras as box */

.box {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

/* Box de salgados */
.box1{
    background-image: var(--salgados-gradient);
    grid-column: 1/3;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.box1__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.box1__item--descricao{
    padding: 20px;
    text-align: justify;
}

.box2 {
    background-color: var(--frutas-bg);
    grid-column: 3/4;
    grid-row: 1/3;
    height: 100%;

}

.box3 {
    background-color: var(--doces-bg);
}

.box4 {
    background-color: var(--sucos-bg);
    grid-column: 2/3;
    grid-row: 2/4;
    height: 100%;
}

.box5 {
    background-color: var(--lanches-bg);

}

.box6 {
    background-color: var(--pizzas-bg);
}