* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

.box img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid red;
}


