* {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, ul, li, p{
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}

body{
    margin-bottom: 100px;
}
