/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #efc9f8, #c462fd);
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 30px;
    border: 4px solid #b13cff;
}

.grid-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows:repeat(3, 200px) ;
    
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box1{
    background-image: linear-gradient(to left, #86c6ff, #6dd3ff);
    grid-column: 1/3;
    width: 400px;
}

.box2{
    background-image:linear-gradient(to left, #aff6ff, #9deaff) ;
    grid-column: 1/1;
    width: 200px;
}

.box3{
    background-image: linear-gradient(to left, #63fcf4, #44eff8);
    grid-row-end: 2/1;
    width: 200px;
}

.box4{
    background-image: linear-gradient(to left, #63bffc, #44c2f8);
    grid-row-end: 3/1;
    height: 400px;
    align-self: flex-end;
}

.box5{
    background-color: #da49fa;
}

.box6{
    background-color: #d51dff;
}